@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --text: #171212;
    --background: #ffffff;
    --primary: #d73338;
    --secondary: #d8e4dd;
    --accent: #6acee2;
  }
  .dark {
    --text: #ede8e8;
    --background: #000000;
    --primary: #cc282e;
    --secondary: #1b2720;
    --accent: #1d8195;
  }
}
