@tailwind base;
@tailwind components;
@tailwind utilities;

/* input[type="text"] {
  background-color: var(--background);
  color: var(--text);
} */

input {
  background-color: var(--background);
  color: var(--text);
}

@layer base {
  :root {
    --text: black;
    --background: #e1f0da;
    --primary: #bfd8af;
    --secondary: #99bc85;
    --accent: #d4e7c5;
    --lightText: #5c8374;
    --linkColor: blue;
    --dark: #3a4d39;
  }

  .dark {
    --text: white;
    --background: #1a1a1a;
    --primary: #335c33;
    --secondary: #4f804f;
    --accent: #2a492a;
    --lightText: #1b4242;
    --linkColor: blue;
    --dark: #3a4d39;
  }
}
