@tailwind base;
@tailwind components;
@tailwind utilities;

/* 
* {
  box-sizing: border-box;
} */

@layer base {
  :root {
    --text: #040c11;
    --background: #e9f4fc;
    --primary: #1986eb;
    --secondary: #bca3c7;
    --accent: #b483b4;
  }
  .dark {
    --text: #eef6fb;
    --background: #030e16;
    --primary: #1480e6;
    --secondary: #51385c;
    --accent: #7c4b7c;
  }
}
